<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a new chat</title>
</head>
<body>
    <h3>Write a new chat</h3>
    <form action="/chats", method="post">
        <input placeholder="Who are you" type="text" name="from"><br><br>
        <textarea name="message" rows="10" cols="100">Write your message here</textarea><br><br>
        <input type="text" placeholder="Add reciever" name="to"><br><br>
        <button>Create chat</button>
    </form>
</body>
</html>