body{
    margin-left: 20px;
}

.chat{
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
    background-color: aliceblue;
}

.message{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}