<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The total number of users: <%= cnt %></h1>
    <button>Join us today!!!</button><br><br>
    <form action="/user" method="get">
        <button>View user details</button>
    </form>
</body>
</html>