<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
  </head>
  <body>
    <h2>NEW USER</h2>
    <br /><br />
    <form method="get" action="/new">
      <label>
        Enter your Username <br />
        <input type="text" name="username" /><br /><br />
      </label>
      <label>
        Enter your email <br />
        <input type="text" name="email" /><br /><br />
      </label>
      <label>
        Enter your password <br />
        <input type="password" name="password" /> </label
      ><br /><br />
      <button id="submit-btn">Submit</button>
    </form>
  </body>

  <script>
    const button = document.getElementById("submit-btn");
    button.addEventListener("click", () => {
      alert("New user added successfully!!");
    });
  </script>
</html>
