<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>

    <!-- Syntax Interpolation -->

    <h3><%=[["Prajwal"],["Bayari"]][1][0] %></h3> 

    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae et earum perferendis odit tempora, ea quod accusamus placeat! Ipsa quam quaerat rem tempore distinctio voluptas illo rerum expedita quod, reiciendis aliquid, natus doloremque quas tempora laudantium id eaque sunt. Quasi deserunt quos unde molestiae aut quo autem, voluptas vel, eaque quia labore facere, ut ab nam saepe qui. Obcaecati nostrum, fugit corporis inventore fugiat beatae sapiente explicabo quo exercitationem tempora odit magni sint dicta vero nesciunt! Dolorem impedit quo excepturi, perspiciatis, qui earum voluptatibus veniam nostrum inventore dolores eius omnis maxime accusantium quos, labore asperiores sunt accusamus beatae error voluptate!</p>
    <button>Click me</button>
</body>
</html>