body {
  display: flex;
  color: white;
  background-color: black;
}

.left {
  width: 50%;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15%;
}

.right {
  width: 50%;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

button {
  display: inline;
  background-color: orange;
  border-radius: 5px;
  border: none;
}

input {
  border-radius: 5px;
  border: none;
  margin: 5px 0px;
  height: 20px;
}

.widthFull {
  width: 20em;
}

.name {
  width: 9.7em;
}

select {
  border-radius: 3px;
  border: none;
}
